html{
    background-color: lightpink;
}

*{
    font-family: "Outfit", sans-serif;
    font-weight: 800;
	padding: 2px;
	margin: 0;
	color: #ffe3ee;
}

body{
	background-color: rgb(207, 1, 94);
}

main{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	min-height: 80vh;
}

li a{
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(201, 51, 173);
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 5px;
	border: solid 1px rgb(70, 6, 50);
	transition: all .3s ease-in-out;
}

li a:hover{
	background-color: rgb(240, 192, 255);
	border: solid 1px rgb(207, 27, 183);

	transform: scale(1.1) rotate(2deg);

}

ul{
	list-style-type: none;
}

.titulo h1{
	font-family: "BBH Sans Bartle", system-ui;
	font-size: 3rem;
	color: rgb(255, 6, 118);
}

.titulo p{
	text-align: center;
	font-style: italic;
	font-size: .8rem;
}
