html{
    background-color: #ffe3f0;
}

*{
    font-family: "Outfit", sans-serif;
    font-weight: 800;
	padding: 3px;
	margin: 0;
	color: #00a4aa;
}

body{
	background-color: #ffe3f0;
}

main{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	min-height: 80vh;
}

li a{
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(255, 255, 255);
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 5px;
	border: solid 1px rgb(247, 0, 103);
	transition: all .3s ease-in-out;
}

li a:hover{
	background-color: #f6ccdf;
	border: solid 1px rgb(79, 0, 35);

	transform: scale(1.1) rotate(2deg);

}

ul{
	list-style-type: none;
}

.titulo h1{
	font-family: "BBH Sans Bartle", system-ui;
	font-size: 3rem;
	color: rgb(0, 135, 158);
}

.titulo p{
	text-align: center;
	font-style: italic;
	font-size: .8rem;
}
