html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(0deg, #422767, #2c033a);
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  gap: 2rem;
  text-align: center;
}

* {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  color: #b96cf9;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  display: inline-block;
  margin: 0.5rem 0;
  text-decoration: none;
  background: white;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  border: 1px solid rgb(73, 219, 255);
  box-shadow: 0 0 8px rgb(255, 195, 230);
  transition: 0.3s ease;
}

li a:hover {
  transform: scale(1.1) rotate(2deg);
  background: #18000b;
  border-color: white;
}

.titulo h1 {
  font-family: "BBH Sans Bartle", system-ui;
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 6px rgb(255, 208, 234);
}
