html{
    background: linear-gradient(0deg, #422767, #2c033a);
}

*{
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    padding: 3px;
    margin: 0;
    color: #b96cf9;
}

body{
    background-color: linear-gradient(0deg, #422767, #2c033a);
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;  
    justify-content: center;
    gap: 2rem;
    min-height: 80vh;
    text-align: center;    
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

li a{
    margin-block: 0.5rem;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 5px;
    border: solid 1px rgb(73, 219, 255);
    transition: all .3s ease-in-out;
    box-shadow: 0 0 8px rgb(255, 195, 230);
}

li a:hover{
    background-color: #18000b;
    border: solid 1px rgb(255, 255, 255);
    transform: scale(1.1) rotate(2deg);
}

.titulo h1{
    font-family: "BBH Sans Bartle", system-ui;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px rgb(255, 208, 234);
}

.titulo p{
    text-align: center;
    font-style: italic;
    font-size: .8rem;
}
